*{
	font-size:12px;
}
body {
    font-family:helvetica,tahoma,verdana,sans-serif;
    padding:2px;
    font-size:13px;
    margin:0;
}
h2 {
    font-size:18px;
    color:#333;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}
.demo-info{
	background:#FFFEE6;
	color:#8F5700;
	padding:12px;
}
.demo-tip{
	width:24px;
	height:16px;
	float:left;
}
#partners > div {
	display:inline-block;
}
.panel {
	margin-bottom: 4px;
}

.easyui-panel > div {
	margin-bottom: 4px;
}

#roomlisttable input[type=text] {
	width: 70px;
}

#reserved_room_list th {
	background-color: #eef;
}

#reserved_room_list tr {
	border-bottom: 1px dotted #ccc;
}

#noshowDialog label {
    margin-top: 6px;
}

