.x-icon-key {background-image:url(../img/key.png) ! important;}
.x-icon-lock {background-image:url(../img/lock.png) ! important;}
.x-icon-doorout {background-image:url(../img/door_out.png) ! important;}
.x-icon-dooropen {background-image:url(../img/door_open.png) ! important;}
.x-icon-chartpie {background-image:url(../img/chart_pie.png) ! important;}
.x-icon-building {background-image:url(../img/building.png) ! important;}
.x-icon-coins {background-image:url(../img/coins.png) ! important;}
.x-icon-clock {background-image:url(../img/clock.png) ! important;}
.x-icon-clock-play {background-image:url(../img/clock_play.png) ! important;}
.x-icon-clock-stop {background-image:url(../img/clock_stop.png) ! important;}
.x-icon-clock-red {background-image:url(../img/clock_red.png) ! important;}
.x-icon-printer {background-image:url(../img/printer.png) ! important;}
.x-icon-chart_curve {background-image:url(../img/chart_curve.png) ! important;}
.x-icon-cog {background-image:url(../img/cog.png) ! important;}
.x-icon-database_table {background-image:url(../img/database_table.png) ! important;}
.x-icon-1, .x-icon-Available {
	background-image:url(../img/flag_blue.png) ! important;
	font-size:24px ! important;
	color:blue ! important;
	text-shadow: 1px 1px 1px #000; 
}
.x-icon-2, .x-icon-Occupied {background-image:url(../img/flag_green.png) ! important;
	font-size:24px ! important;
	color:green ! important;
	text-shadow: 1px 1px 1px #000; 
}
.x-icon-3, .x-icon-Cleaning {background-image:url(../img/flag_yellow.png) ! important;
	font-size:24px ! important;
	color:yellow ! important;
	text-shadow: 1px 1px 2px #000; 
}
.x-icon-4 , .x-icon-Maintenance{background-image:url(../img/flag_red.png) ! important;
	font-size:24px ! important;
	color:red ! important;
	text-shadow: 1px 1px 2px #000; 
}
.x-icon-5 , .x-icon-Make-Up{background-image:url(../img/flag_pink.png) ! important;
	font-size:24px ! important;
	color:pink ! important;
	text-shadow: 1px 1px 2px #000; 
}

.x-icon-1-Regular, .x-icon-Available-Regular {background-image:url(../img/flag_blue_regular.png) ! important;}

.x-icon-house{background-image:url(../img/house.png) ! important;}
.x-icon-group{background-image:url(../img/group.png) ! important;}
.x-icon-user{background-image:url(../img/user.png) ! important;}
.x-icon-user_add{background-image:url(../img/user_add.png) ! important;}
.x-icon-user_comment{background-image:url(../img/user_comment.png) ! important;}
.x-icon-user_edit{background-image:url(../img/user_edit.png) ! important;}
.rm-button {font-size:1.5em;color:#ff0000;font-weight:bold;}
.x-icon-calculator{background-image:url(../img/calculator.png) ! important;}
.x-icon-refresh{background-image:url(../img/arrow_refresh.png) ! important;}
.x-icon-alert{background-image:url(../img/exclamation.png) ! important;}
.x-icon-eye{background-image:url(../img/eye.png) ! important;}
.x-icon-calendar{background-image:url(../img/calendar.png) ! important;}
.x-icon-calendar-add{background-image:url(../img/calendar_add.png) ! important;}
.x-icon-calendar-view-month{background-image:url(../img/calendar_view_month.png) ! important;}
.x-icon-calendar-view-day{background-image:url(../img/calendar_view_day.png) ! important;}

.rds-body {
	color:#15428b;
    font-size: 11px;
    font-family: tahoma,arial,verdana,sans-serif;
	padding:5px 5px 5px 5px ;
}
	
#loading-mask{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:20000;
	background-color:white;
}
#loading{
	position:absolute;
	left:45%;
	top:40%;
	padding:2px;
	z-index:20001;
	height:auto;
}
#loading a {
	color:#225588;
}
#loading .loading-indicator{
	background:white;
	color:#444;
	font:bold 13px tahoma,arial,helvetica;
	padding:10px;
	margin:0;
	height:auto;
}
#loading-msg {
	font: normal 10px arial,tahoma,sans-serif;
	text-align:center;
}

.checkin {
	padding:4px;
	display:block;
	padding-bottom:12px;
	padding-top: 10px;
	border:1px solid #aaaacc;
}

.checkin legend {
	font-weight:bold;
}

.btns {
	border:1px solid #9999ff;
	border-top:1px solid #ddddff;
	border-left:1px solid #ddddff;
	background-color:#eeeeff;
	padding:4px;
	padding-top:6px;
	margin:5px 5px 5px 5px;
	cursor:pointer;
	background-image:url(../ext3/resources/images/default/panel/top-bottom.gif);
}

.btns label {
	margin-left:4px;
	margin-right:6px;
	cursor:pointer;
}
.btns input {
	margin-top:2px;
}


.extraline{
	border:1px solid #9999ff;
	border-top:1px solid #ddddff;
	border-left:1px solid #ddddff;
	background-color:#eeeeff;
	padding:4 10 4 10;
	margin:3px 3px 3px 3px;
	cursor:pointer;
	text-decoration:none;
	background-image:url(../ext3/resources/images/default/panel/top-bottom.gif);
}


.xhrs {
	border:1px solid #9999ff;
	border-top:1px solid #ddddff;
	border-left:1px solid #ddddff;
	background-color:#eeeeff;
	padding:6 10 6 10;
	margin:3px 3px 3px 3px; 
	
	cursor:pointer;
	text-decoration:none;
	background-image:url(../ext3/resources/images/default/panel/top-bottom.gif);
}

.xhrs:hover {
	background-color:#ccccdd;
	border:1px solid #ddddff;
	border-top:1px solid #9999ff;
	border-left:1px solid #9999ff;
}

.extendhours {
	position:absolute;
	bottom:0;
	left:0;
	width:100;
	height:100;
}

#workpanel td {
	padding:2px;
}

.x-portal .x-panel-dd-spacer {
    margin-bottom:10px;
}

.x-portlet {
    margin-bottom:10px;
}


.x-portlet .x-panel-ml {
    padding-left:2px;
}
.x-portlet .x-panel-mr {
    padding-right:2px;
}
.x-portlet .x-panel-bl {
    padding-left:2px;
}

.x-portlet .x-panel-br {
    padding-right:2px;
}
.x-portlet .x-panel-body {
    background:white;
}
.x-portlet .x-panel-mc {
    padding-top:2px;
}
.x-portlet .x-panel-bc .x-panel-footer {
    padding-bottom:2px;
}
.x-portlet .x-panel-nofooter .x-panel-bc {
    height:2px;
}