body {
	font-family:arial,helvetica,tahoma;font-size:1em;
	margin:0 0 0 0;
	marginwidth:0;marginheight:0;

}
h1 {font-size:1.1em;} 
h2 {font-size:1.0em;} 
a {font-size:0.9em;}
table {font-size:1.2em;}
table td {font-size:1.0em;}
table th {font-size:1.0em;}

div {
	font-size:.8em;
	padding:4 4 4 4;
}
.menubar  {
	font-size:.7em;
	background-color:grey ;
	border-bottom:#cccccc;
	color: white;
	font-weight: bold;
}


.menubar > input,select {
	font-size:.9em;
}

.line_item {
	border-bottom: 1px solid #eeeeee;
	width: 400px;
}

.right {
	float:right;
}

.dateleft {
	float:left;
	width:120px;
}

h4 {
	color: #000099;
	font-size:.9em;
	margin-bottom:0px;
	border-bottom:1px solid #000099;
}

h5 {
	margin: 4 0 4 0 ;
	font-size: 1.1em;
}

 .dateitem {
	width:400px;
 }

table.report {
	border-collapse:collapse;
    border: 1px solid black;
}


table.report td,
table.report th,
table.report tfoot th {
    font-size: 0.8em;
	padding:6px;
	text-align:center;
    border-bottom: 1px solid grey;
}

th.grand, td.grand {
	background-color:#eeffcc;
}

tr.weekend {
	background-color:#ffeecc;
}

#newdate {
	width: 120px;
}

.totals {
	color: green;
}

select {
	font-weight: bold;
	font-size: 12px;
}

.subtotals {
	color: blue;
}

.subtotaltitle {
	text-align: right;
	padding-right: 10px;
}